Step 1: importing data

In [429]:
import pandas as pd
import warnings
import numpy as np
import math

In [430]:
datolli=pd.read_csv("Financial literacy.csv")

In [431]:
datolli

,id,pesofitc,qf1,qf2,qf3_1,qf3_3,qf3_4,qf3_6,qf3_7,qf3_8,...,qk7_2,qk7_3,qd1,qd5b,qd7,qd9,qd10,qd12,SM,AREA5
0,1,0.706596,2,0,0,0,0,0,0,1,...,1,0,0,3,31,3,5,1,0,1
1,2,1.220904,2,1,0,0,0,1,0,0,...,1,1,0,3,53,4,1,1,0,1
2,3,1.797774,1,0,0,0,0,0,0,1,...,1,1,0,1,70,4,6,1,0,4
3,4,1.515358,2,0,0,0,0,0,0,1,...,1,-97,0,2,64,4,4,1,0,4
4,5,0.244932,2,0,0,0,0,0,0,1,...,0,0,1,2,50,3,1,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371,692344,3.113144,3,1,1,0,0,0,0,0,...,-97,-97,1,4,18,4,9,1,1,3
2372,692345,2.112678,1,0,1,0,0,0,0,0,...,1,-97,0,1,68,4,6,1,1,3
2373,692346,2.090212,3,1,1,0,0,0,0,0,...,-97,0,0,2,31,1,2,1,1,3
2374,692347,2.040491,3,0,0,0,0,0,0,1,...,-97,-97,1,4,18,3,9,1,1,3
2375,692348,1.506404,2,1,1,0,0,0,0,0,...,1,0,0,4,50,1,2,1,1,3

In [432]:
columnlist=datolli.columns
for element in columnlist: 
    print(element)

id
pesofitc
qf1
qf2
qf3_1
qf3_3
qf3_4
qf3_6
qf3_7
qf3_8
qf3_99
qf4
qf8
qf9_1
qf9_2
qf9_3
qf9_4
qf9_5
qf9_6
qf9_7
qf9_8
qf9_9
qf9_10
qf9_99
qprod1c_1
qprod1c_2
qprod1c_10
qprod1c_11
qprod1c_12
qprod1c_3
qprod1c_5
qprod1c_6
qprod1c_14
qprod1c_7
qprod1c_8
qprod1c_99
qprod1_d
qprod2
qprod3_1
qprod3_2
qprod3_3
qprod3_4
qprod3_5
qprod3_6
qprod3_7
qprod3_8
qprod3_9
qprod3_10
qprod3_11
qprod3_12
qprod3_13
qprod3_14
qprod3_15
qprod3_16
qprod3_17
qprod3_18
qprod3_99
qf10_1
qf10_2
qf10_3
qf10_4
qf10_5
qf10_6
qf10_7
qf10_8
qf10_9
qf10_10
qf10_11
qf10_12
qprod4_1
qprod4_2
qprod4_3
qk1
qf11
qf12_1_a
qf12_1_b
qf12_1_c
qf12_2_d
qf12_3_e
qf12_3_f
qf12_3_g
qf12_4_k
qf12_4_l
qf12_5_m
qf12_5_o
qf12_6_p
qf12_6_q
qf12_7_r
qf12_97
qf12_99
qf13
qk3
qk4
qk5
qk6
qk7_1
qk7_2
qk7_3
qd1
qd5b
qd7
qd9
qd10
qd12
SM
AREA5

# ELIMINO COLONNE INUTILI

In [433]:
datolli.drop(["id", "pesofitc", "SM", "qd5b", "qd12", 
               "qf3_99", "qf9_99", "qprod1c_99", "qprod1_d", 
               "qprod3_99", "qf12_97", "qf12_99"], axis=1, inplace=True)

In [434]:
len(datolli.columns)

94

In [435]:
datolli

,qf1,qf2,qf3_1,qf3_3,qf3_4,qf3_6,qf3_7,qf3_8,qf4,qf8,...,qk5,qk6,qk7_1,qk7_2,qk7_3,qd1,qd7,qd9,qd10,AREA5
0,2,0,0,0,0,0,0,1,-98,6,...,102,1,1,1,0,0,31,3,5,1
1,2,1,0,0,0,1,0,0,1,6,...,102,1,1,1,1,0,53,4,1,1
2,1,0,0,0,0,0,0,1,1,-99,...,102,2,1,1,1,0,70,4,6,4
3,2,0,0,0,0,0,0,1,-98,6,...,102,2,1,1,-97,0,64,4,4,4
4,2,0,0,0,0,0,0,1,0,6,...,-97,-97,0,0,0,1,50,3,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371,3,1,1,0,0,0,0,0,0,6,...,120,1,-97,-97,-97,1,18,4,9,3
2372,1,0,1,0,0,0,0,0,1,6,...,100,2,-97,1,-97,0,68,4,6,3
2373,3,1,1,0,0,0,0,0,1,4,...,120,1,1,-97,0,0,31,1,2,3
2374,3,0,0,0,0,0,0,1,-97,6,...,100,3,1,-97,-97,1,18,3,9,3
2375,2,1,1,0,0,0,0,0,0,3,...,110,2,1,1,0,0,50,1,2,3

# CREO VARIABILE TARGET

In [436]:
datolli['check']=0
datolli

,qf1,qf2,qf3_1,qf3_3,qf3_4,qf3_6,qf3_7,qf3_8,qf4,qf8,...,qk6,qk7_1,qk7_2,qk7_3,qd1,qd7,qd9,qd10,AREA5,check
0,2,0,0,0,0,0,0,1,-98,6,...,1,1,1,0,0,31,3,5,1,0
1,2,1,0,0,0,1,0,0,1,6,...,1,1,1,1,0,53,4,1,1,0
2,1,0,0,0,0,0,0,1,1,-99,...,2,1,1,1,0,70,4,6,4,0
3,2,0,0,0,0,0,0,1,-98,6,...,2,1,1,-97,0,64,4,4,4,0
4,2,0,0,0,0,0,0,1,0,6,...,-97,0,0,0,1,50,3,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371,3,1,1,0,0,0,0,0,0,6,...,1,-97,-97,-97,1,18,4,9,3,0
2372,1,0,1,0,0,0,0,0,1,6,...,2,-97,1,-97,0,68,4,6,3,0
2373,3,1,1,0,0,0,0,0,1,4,...,1,1,-97,0,0,31,1,2,3,0
2374,3,0,0,0,0,0,0,1,-97,6,...,3,1,-97,-97,1,18,3,9,3,0
2375,2,1,1,0,0,0,0,0,0,3,...,2,1,1,0,0,50,1,2,3,0

In [437]:
warnings.filterwarnings("ignore")
for i in range(len(datolli)):
    if datolli['qprod4_2'][i]==1 or datolli['qprod4_3'][i]==1:
        datolli['check'][i]=1

In [438]:
len(datolli[datolli['check']==1])

147

In [439]:
warnings.filterwarnings("ignore")
for i in range(len(datolli)):
    if datolli['qprod4_2'][i]==0 and datolli['qprod4_3'][i]==0 and datolli['qprod4_1'][i]==0:
        datolli['check'][i]=-1

In [440]:
len(datolli[datolli['check']==-1])

1919

In [441]:
len(datolli[datolli['check']==0])

310

In [442]:
warnings.filterwarnings("ignore")
for i in range(len(datolli)):
    counter=0
    if datolli['qprod4_1'][i]==1 and datolli['check'][i]==0:
        if datolli['qprod3_8'][i]==1 or datolli['qprod3_9'][i]==1 or datolli['qprod3_10'][i]==1:
            counter=1
        if math.isnan(datolli['qprod3_8'][i]):
            counter=1
        if counter!=1:
            datolli['check'][i]=1

In [443]:
len(datolli[datolli['check']==1])

186

In [444]:
len(datolli[datolli['check']==0])

271

In [445]:
warnings.filterwarnings("ignore")
for i in range(len(datolli)):
    counter=0
    if datolli['qprod4_3'][i]==0 and datolli['qprod4_1'][i]==0 and datolli['check'][i]==0:
        counter+=1
    if datolli['qprod4_2'][i]==0 and datolli['qprod4_1'][i]==0 and datolli['check'][i]==0:
        counter+=1
    if datolli['qprod4_3'][i]==0 and datolli['qprod4_2'][i]==0 and datolli['check'][i]==0:
        counter+=1
    if counter!=0:
        datolli['check'][i]=-2 
print(len(datolli[datolli['check']==-2]))

161

In [446]:
datolli.drop(list(datolli[datolli['check']==0].index), inplace=True)
datolli.reset_index(inplace=True)

In [447]:
for i in range(len(datolli)):
    if datolli['check'][i]==-1 or datolli['check'][i]==-2:
        datolli['check'][i]=0

# ELIMINO COLONNE INUTILI pt2

In [448]:
datolli.drop(['qprod4_1', 'qprod4_2', 'qprod4_3', 'index'], axis=1, inplace=True)

In [449]:
datolli

,qf1,qf2,qf3_1,qf3_3,qf3_4,qf3_6,qf3_7,qf3_8,qf4,qf8,...,qk6,qk7_1,qk7_2,qk7_3,qd1,qd7,qd9,qd10,AREA5,check
0,2,0,0,0,0,0,0,1,-98,6,...,1,1,1,0,0,31,3,5,1,0
1,2,1,0,0,0,1,0,0,1,6,...,1,1,1,1,0,53,4,1,1,1
2,1,0,0,0,0,0,0,1,1,-99,...,2,1,1,1,0,70,4,6,4,0
3,2,0,0,0,0,0,0,1,-98,6,...,2,1,1,-97,0,64,4,4,4,0
4,2,0,0,0,0,0,0,1,0,6,...,-97,0,0,0,1,50,3,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261,3,1,1,0,0,0,0,0,0,6,...,1,-97,-97,-97,1,18,4,9,3,0
2262,1,0,1,0,0,0,0,0,1,6,...,2,-97,1,-97,0,68,4,6,3,0
2263,3,1,1,0,0,0,0,0,1,4,...,1,1,-97,0,0,31,1,2,3,0
2264,3,0,0,0,0,0,0,1,-97,6,...,3,1,-97,-97,1,18,3,9,3,0
2265,2,1,1,0,0,0,0,0,0,3,...,2,1,1,0,0,50,1,2,3,0

# TRASFORMAZIONE DOMANDA PER DOMANDA:

AREA5

In [450]:
for i in range(len(datolli)):
    if datolli['AREA5'][i]==2:
        datolli['AREA5'][i]=1
    if datolli['AREA5'][i]==4:
        datolli['AREA5'][i]=5

In [451]:
datolli[datolli['AREA5']==5]['AREA5'].count()

771

AGE RANGES

In [452]:
a=69
a%10

9

In [453]:
for i in range(len(datolli)):
    if math.trunc(datolli['qd7'][i]/10)==1:
        datolli['qd7'][i]=1
    if math.trunc(datolli['qd7'][i]/10)==2:
        if datolli['qd7'][i]%10>4:
            datolli['qd7'][i]=2
        else: 
            datolli['qd7'][i]=1
    if math.trunc(datolli['qd7'][i]/10)==3:
        if datolli['qd7'][i]%10>4:
            datolli['qd7'][i]=3
        else: 
            datolli['qd7'][i]=2
    if math.trunc(datolli['qd7'][i]/10)==4:
        if datolli['qd7'][i]%10>4:
            datolli['qd7'][i]=4
        else: 
            datolli['qd7'][i]=3
    if math.trunc(datolli['qd7'][i]/10)==5:
        if datolli['qd7'][i]%10>4:
            datolli['qd7'][i]=5
        else: 
            datolli['qd7'][i]=4
    if math.trunc(datolli['qd7'][i]/10)==6:
        if datolli['qd7'][i]%10>4:
            datolli['qd7'][i]=6
        else: 
            datolli['qd7'][i]=5
    if math.trunc(datolli['qd7'][i]/10)==7 or math.trunc(datolli['qd7'][i]/10)==8 or math.trunc(datolli['qd7'][i]/10)==9:
        if datolli['qd7'][i]%10>4:
            datolli['qd7'][i]=7
        else: 
            datolli['qd7'][i]=6

In [454]:
datolli['qd7'].unique()

array([2, 4, 6, 5, 3, 7, 1])

EDUCATIONAL QUALIFICATION

In [455]:
for i in range(len(datolli)):
    if datolli['qd9'][i]==4:
        datolli['qd9'][i]=5
    if datolli['qd9'][i]==6:
        datolli['qd9'][i]=7

In [456]:
datolli['qd9'].unique()

array([3, 5, 1, 7])

QF4

In [457]:
for i in range(len(datolli)):
    if datolli['qf4'][i]==-97:
        datolli['qf4'][i]=-99
    if datolli['qf4'][i]==-98:
        datolli['qf4'][i]=2

In [458]:
datolli['qf4'].unique()

array([  2,   1,   0, -99])

QF9

In [459]:
datolli['qf9_2_3']=datolli[['qf9_2', 'qf9_3']].sum(axis=1)

In [460]:
datolli['qf9_7_8']=datolli[['qf9_7', 'qf9_8']].sum(axis=1)

In [461]:
datolli['qf9_1_9']=datolli[['qf9_1', 'qf9_9']].sum(axis=1)

In [462]:
datolli.drop(['qf9_1', 'qf9_2', 'qf9_3', 'qf9_7', 'qf9_8', 'qf9_9'], axis=1, inplace=True)

In [463]:
for i in range(len(datolli)):
    if datolli['qf9_2_3'][i]>=1:
        datolli['qf9_2_3'][i]=1
    if datolli['qf9_7_8'][i]>=1:
        datolli['qf9_7_8'][i]=1
    if datolli['qf9_1_9'][i]>=1:
        datolli['qf9_1_9'][i]=1

AGGIUNTA NUMERI PER GESTIRE NAN di qprod2 e qprod3

In [464]:
for i in range(len(datolli)):
    if math.isnan(datolli['qprod2'][i])==True:
        datolli['qprod2'][i]=-99
        datolli['qprod3_1'][i]=-99
        datolli['qprod3_2'][i]=-99
        datolli['qprod3_3'][i]=-99
        datolli['qprod3_4'][i]=-99
        datolli['qprod3_5'][i]=-99
        datolli['qprod3_6'][i]=-99
        datolli['qprod3_7'][i]=-99
        datolli['qprod3_8'][i]=-99
        datolli['qprod3_9'][i]=-99
        datolli['qprod3_10'][i]=-99
        datolli['qprod3_11'][i]=-99
        datolli['qprod3_12'][i]=-99
        datolli['qprod3_13'][i]=-99
        datolli['qprod3_14'][i]=-99
        datolli['qprod3_15'][i]=-99
        datolli['qprod3_16'][i]=-99
        datolli['qprod3_17'][i]=-99
        datolli['qprod3_18'][i]=-99

RAGGRUPPO QPROD3

In [465]:
datolli['qprod3_1_16']=datolli[['qprod3_1', 'qprod3_16']].sum(axis=1)

In [466]:
datolli['qprod3_3_6']=datolli[['qprod3_3', 'qprod3_6']].sum(axis=1)

In [467]:
datolli['qprod3_5_7_12_14']=datolli[['qprod3_5', 'qprod3_7', 'qprod3_12', 'qprod3_14']].sum(axis=1)

In [468]:
datolli['qprod3_13_15']=datolli[['qprod3_13', 'qprod3_15']].sum(axis=1)

In [469]:
for i in range(len(datolli)):
    if datolli['qprod3_1_16'][i]>0:
        datolli['qprod3_1_16'][i]=1
    if datolli['qprod3_3_6'][i]>0:
        datolli['qprod3_3_6'][i]=1
    if datolli['qprod3_5_7_12_14'][i]>0:
        datolli['qprod3_5_7_12_14'][i]=1
    if datolli['qprod3_13_15'][i]>0:
        datolli['qprod3_13_15'][i]=1
    if datolli['qprod3_1_16'][i]<0:
        datolli['qprod3_1_16'][i]=-99
    if datolli['qprod3_3_6'][i]<0:
        datolli['qprod3_3_6'][i]=-99
    if datolli['qprod3_5_7_12_14'][i]<0:
        datolli['qprod3_5_7_12_14'][i]=-99
    if datolli['qprod3_13_15'][i]<0:
        datolli['qprod3_13_15'][i]=-99

In [470]:
datolli.drop(['qprod3_1', 'qprod3_16', 'qprod3_3', 'qprod3_6', 'qprod3_5',
              'qprod3_7', 'qprod3_12', 'qprod3_14', 'qprod3_13', 'qprod3_15'], axis=1, inplace=True)

VALORI QF10

In [471]:
for i in range(len(datolli)):
    if datolli['qf10_1'][i]==-97:
        datolli['qf10_1'][i]=-99
    if datolli['qf10_2'][i]==-97:
        datolli['qf10_2'][i]=-99   
    if datolli['qf10_3'][i]==-97:
        datolli['qf10_3'][i]=-99
    if datolli['qf10_4'][i]==-97:
        datolli['qf10_4'][i]=-99
    if datolli['qf10_5'][i]==-97:
        datolli['qf10_5'][i]=-99
    if datolli['qf10_6'][i]==-97:
        datolli['qf10_6'][i]=-99
    if datolli['qf10_7'][i]==-97:
        datolli['qf10_7'][i]=-99
    if datolli['qf10_8'][i]==-97:
        datolli['qf10_8'][i]=-99
    if datolli['qf10_9'][i]==-97:
        datolli['qf10_9'][i]=-99
    if datolli['qf10_10'][i]==-97:
        datolli['qf10_10'][i]=-99
    if datolli['qf10_11'][i]==-97:
        datolli['qf10_11'][i]=-99
    if datolli['qf10_12'][i]==-97:
        datolli['qf10_12'][i]=-99

QK1

In [472]:
for i in range(len(datolli)):
    if datolli['qk1'][i]==-97:
        datolli['qk1'][i]=-99

QF12

In [473]:
for i in range(len(datolli)):
    if datolli['qf11'][i]==-99:
        datolli['qf12_1_a'][i]=-99
        datolli['qf12_1_b'][i]=-99
        datolli['qf12_1_c'][i]=-99
        datolli['qf12_2_d'][i]=-99
        datolli['qf12_3_e'][i]=-99
        datolli['qf12_3_f'][i]=-99
        datolli['qf12_3_g'][i]=-99
        datolli['qf12_4_k'][i]=-99
        datolli['qf12_4_l'][i]=-99
        datolli['qf12_5_m'][i]=-99
        datolli['qf12_5_o'][i]=-99
        datolli['qf12_6_p'][i]=-99
        datolli['qf12_6_q'][i]=-99
        datolli['qf12_7_r'][i]=-99
    if datolli['qf11'][i]==0:
        datolli['qf12_1_a'][i]=0
        datolli['qf12_1_b'][i]=0
        datolli['qf12_1_c'][i]=0
        datolli['qf12_2_d'][i]=0
        datolli['qf12_3_e'][i]=0
        datolli['qf12_3_f'][i]=0
        datolli['qf12_3_g'][i]=0
        datolli['qf12_4_k'][i]=0
        datolli['qf12_4_l'][i]=0
        datolli['qf12_5_m'][i]=0
        datolli['qf12_5_o'][i]=0
        datolli['qf12_6_p'][i]=0
        datolli['qf12_6_q'][i]=0
        datolli['qf12_7_r'][i]=0

In [474]:
datolli['qf12_1c_3g']=datolli[['qf12_1_c', 'qf12_3_g']].sum(axis=1)

In [475]:
datolli['qf12_4k_5m_5o_6p']=datolli[['qf12_5_m', 'qf12_4_k', 'qf12_5_o', 'qf12_6_p']].sum(axis=1)

In [476]:
for i in range(len(datolli)):
    if datolli['qf12_1c_3g'][i]>0:
        datolli['qf12_1c_3g'][i]=1
    if datolli['qf12_1c_3g'][i]<0:
        datolli['qf12_1c_3g'][i]=-99
    if datolli['qf12_4k_5m_5o_6p'][i]>0:
        datolli['qf12_4k_5m_5o_6p'][i]=1
    if datolli['qf12_4k_5m_5o_6p'][i]<0:
        datolli['qf12_4k_5m_5o_6p'][i]=-99

In [477]:
datolli.drop(['qf12_5_m', 'qf12_4_k', 'qf12_5_o', 'qf12_6_p', 'qf12_1_c', 'qf12_3_g'], axis=1, inplace=True)

QF13

In [478]:
for i in range(len(datolli)):
    if datolli['qf13'][i]==-97:
        datolli['qf13'][i]=-99
    if datolli['qf13'][i]==2:
        datolli['qf13'][i]=1

QK3

In [479]:
for i in range(len(datolli)):
    if datolli['qk3'][i]==-97 or datolli['qk3'][i]==-99:
        datolli['qk3'][i]=0
    if datolli['qk3'][i]==1 or datolli['qk3'][i]==2:
        datolli['qk3'][i]=-0.5
    if datolli['qk3'][i]==3:
        datolli['qk3'][i]=1

QK4

In [480]:
for i in range(len(datolli)):
    if datolli['qk4'][i]==0:
        datolli['qk4'][i]=1
    if datolli['qk4'][i]!=0 and datolli['qk4'][i]!=-99 and datolli['qk4'][i]!=-97:
        datolli['qk4'][i]=-0.5
    if datolli['qk4'][i]==-97 or datolli['qk4'][i]==-99:
        datolli['qk4'][i]=0

QK5

In [481]:
for i in range(len(datolli)):
    if datolli['qk5'][i]==102:
        datolli['qk5'][i]=1
    if datolli['qk5'][i]!=102 and datolli['qk5'][i]!=-99 and datolli['qk5'][i]!=-97:
        datolli['qk5'][i]=-0.5
    if datolli['qk5'][i]==-97 or datolli['qk5'][i]==-99:
        datolli['qk5'][i]=0

QK6

In [482]:
for i in range(len(datolli)):
    if datolli['qk6'][i]==2 or datolli['qk6'][i]==3 or datolli['qk6'][i]==4:
        datolli['qk6'][i]=-0.5
    if datolli['qk6'][i]==-97 or datolli['qk6'][i]==-99:
        datolli['qk6'][i]=0

QK7_1->QK7_3

In [483]:
for i in range(len(datolli)):
    if datolli['qk7_1'][i]==0:
        datolli['qk7_1'][i]=-0.5
    if datolli['qk7_2'][i]==0:
        datolli['qk7_2'][i]=-0.5
    if datolli['qk7_3'][i]==0:
        datolli['qk7_3'][i]=-0.5
    if datolli['qk7_1'][i]==-97 or datolli['qk7_1'][i]==-99:
        datolli['qk7_1'][i]=0
    if datolli['qk7_2'][i]==-97 or datolli['qk7_2'][i]==-99:
        datolli['qk7_2'][i]=0
    if datolli['qk7_3'][i]==-97 or datolli['qk7_3'][i]==-99:
        datolli['qk7_3'][i]=0

In [484]:
datolli

,qf1,qf2,qf3_1,qf3_3,qf3_4,qf3_6,qf3_7,qf3_8,qf4,qf8,...,check,qf9_2_3,qf9_7_8,qf9_1_9,qprod3_1_16,qprod3_3_6,qprod3_5_7_12_14,qprod3_13_15,qf12_1c_3g,qf12_4k_5m_5o_6p
0,2,0,0,0,0,0,0,1,2,6,...,0,0,0,0,-99.0,-99.0,-99.0,-99.0,0.0,0.0
1,2,1,0,0,0,1,0,0,1,6,...,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,0,0,0,0,0,1,1,-99,...,0,0,0,0,-99.0,-99.0,-99.0,-99.0,0.0,0.0
3,2,0,0,0,0,0,0,1,2,6,...,0,0,1,0,-99.0,-99.0,-99.0,-99.0,0.0,0.0
4,2,0,0,0,0,0,0,1,0,6,...,0,0,0,1,-99.0,-99.0,-99.0,-99.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261,3,1,1,0,0,0,0,0,0,6,...,0,0,0,0,-99.0,-99.0,-99.0,-99.0,0.0,0.0
2262,1,0,1,0,0,0,0,0,1,6,...,0,0,0,0,-99.0,-99.0,-99.0,-99.0,0.0,0.0
2263,3,1,1,0,0,0,0,0,1,4,...,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0
2264,3,0,0,0,0,0,0,1,-99,6,...,0,0,0,1,-99.0,-99.0,-99.0,-99.0,0.0,0.0
2265,2,1,1,0,0,0,0,0,0,3,...,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0

AGGREGO COLONNE DI CONOSCENZA FINANZIARIA

In [486]:
datolli['fin_knowledge_score']=datolli[['qk3', 'qk4', 'qk5', 'qk6', 'qk7_1', 'qk7_2', 'qk7_3']].sum(axis=1)

In [488]:
datolli.drop(['qk3', 'qk4', 'qk5', 'qk6', 'qk7_1', 'qk7_2', 'qk7_3'], axis=1, inplace=True)

0       2.5
1       4.0
2       2.5
3       0.5
4      -2.0
       ...
2261    0.0
2262    0.5
2263    0.5
2264    0.0
2265    1.0
Name: fin_knowledge_score, Length: 2266, dtype: float64

In [489]:
datolli

,qf1,qf2,qf3_1,qf3_3,qf3_4,qf3_6,qf3_7,qf3_8,qf4,qf8,...,qf9_2_3,qf9_7_8,qf9_1_9,qprod3_1_16,qprod3_3_6,qprod3_5_7_12_14,qprod3_13_15,qf12_1c_3g,qf12_4k_5m_5o_6p,fin_knowledge_score
0,2,0,0,0,0,0,0,1,2,6,...,0,0,0,-99.0,-99.0,-99.0,-99.0,0.0,0.0,2.5
1,2,1,0,0,0,1,0,0,1,6,...,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,1,0,0,0,0,0,0,1,1,-99,...,0,0,0,-99.0,-99.0,-99.0,-99.0,0.0,0.0,2.5
3,2,0,0,0,0,0,0,1,2,6,...,0,1,0,-99.0,-99.0,-99.0,-99.0,0.0,0.0,0.5
4,2,0,0,0,0,0,0,1,0,6,...,0,0,1,-99.0,-99.0,-99.0,-99.0,0.0,0.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261,3,1,1,0,0,0,0,0,0,6,...,0,0,0,-99.0,-99.0,-99.0,-99.0,0.0,0.0,0.0
2262,1,0,1,0,0,0,0,0,1,6,...,0,0,0,-99.0,-99.0,-99.0,-99.0,0.0,0.0,0.5
2263,3,1,1,0,0,0,0,0,1,4,...,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.5
2264,3,0,0,0,0,0,0,1,-99,6,...,0,0,1,-99.0,-99.0,-99.0,-99.0,0.0,0.0,0.0
2265,2,1,1,0,0,0,0,0,0,3,...,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [495]:
datolli.to_csv('clean_data.csv')